/* line 6, ../sass/zen-grid-test.scss */
body {
  background-color: #546026;
  color: #222;
  text-align: center;
}

/* line 12, ../sass/zen-grid-test.scss */
.grid {
  background-color: #d1ee60;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding: 20px;
}
/* line 52, ../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.grid:before, .grid:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.grid:after {
  clear: both;
}

/* line 22, ../sass/zen-grid-test.scss */
.grid-wrapper {
  border-top: 1px solid gray;
  clear: both;
  overflow: hidden;
}

/* line 28, ../sass/zen-grid-test.scss */
.grid-wrapper-fix {
  clear: both;
  margin-right: -10px;
  margin-left: -10px;
  overflow: hidden;
}
/* line 34, ../sass/zen-grid-test.scss */
.grid-wrapper-fix:before {
  border-top: 1px solid gray;
  content: "";
  display: block;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}

/* line 44, ../sass/zen-grid-test.scss */
.grid-wrapper-fix-background {
  clear: both;
  overflow: hidden;
}
/* line 48, ../sass/zen-grid-test.scss */
.grid-wrapper-fix-background .background-wrapper {
  background-color: #fff;
  overflow: hidden;
  margin-right: -10px;
  margin-left: -10px;
}

/* line 56, ../sass/zen-grid-test.scss */
.grid-first, .grid-second, .grid-third, .grid-fourth {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 60, ../sass/zen-grid-test.scss */
.grid-first .content, .grid-second .content, .grid-third .content, .grid-fourth .content {
  background-color: #bad455;
  padding: 20px;
}

/* line 66, ../sass/zen-grid-test.scss */
.grid-first {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 71, ../sass/zen-grid-test.scss */
.grid-second {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 76, ../sass/zen-grid-test.scss */
.grid-third {
  float: right;
  width: 25%;
  margin-right: 25%;
  margin-left: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 81, ../sass/zen-grid-test.scss */
.grid-fourth {
  float: right;
  width: 25%;
  margin-right: 0%;
  margin-left: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
